{% extends 'AppBundle::base.html.twig' %}

{% block content %}
    <h1>Git Trumpet <i class="mdi mdi-music-note"></i></h1>
    <p class="subtitle">:trumpet: PRRRFT PRFFT PFRRRT PRFFFT :trumpet:</p>
{% endblock %}
