/**
 * Git Trumpet
 */

$color-primary:             $color-blue;

$font-roboto-mono:          'Roboto Mono', monospace;
$font-roboto:               'Roboto', sans-serif;

$dimens-border-radius:      1px;
$transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1); // According to material guidelines
