/**
 * Git-Trumpet
 * :trumpet: PRRRFT PRFFT PFRRRT PRFFFT :trumpet:
 */

@import '../../../../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../../../../bower_components/materialdesignicons-scss-variables/dist/materialdesignicons';
@import '../../../../../bower_components/materialdesignicons-scss-variables/dist/materialdesignicons-vars';
@import '../../../../../bower_components/material-scss-colors/dist/material-colors';
@import 'vars';
@import 'override';
@import 'ui';

body {
    font-family: $font-roboto;
    background: $color-primary;

    header, footer {
        color: #fff;
    }
}

.clearfix { clear: both; }

h1, h2, h3 {
    opacity: 0.9;
    font-family: $font-roboto-mono;
}
.subtitle {
    color: rgba(#fff, 0.6);
}

header, footer {
    text-shadow: 1px 1px 1px rgba(#000, 0.15);
}

header {
    padding: 40px 0;
}

.content-wrap {
    color: #333;
    background-color: #fff;
    border-radius: $dimens-border-radius;
    box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.16), 0 15px 50px 0 rgba(0, 0, 0, 0.12);

    .menu {
        border-bottom: 1px solid #eee;

        h2 {
            margin-top: 5px;
        }

        .logged-in-user {
            padding: 3px;

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 10px;
            }
        }
    }
}

footer {
    margin-top: 10px;
    padding: 10px 0;

    p {
        cursor: default;
        text-align: center;
        color: rgba(#fff, 0.6);
        @include transition-duration(200ms);
        @include transition-property(color);
        @include transition-timing-function($transition-timing-function);

        &:hover {
            color: rgba(#fff, 0.8);
        }
    }
}


.repositories {
    max-height: 400px;
    overflow-y: auto;

    li {
        $bookmark-expanded-width: 60px;

        position: relative;

        .bookmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0;
            overflow: hidden;

            text-align: center;
            font-size: 29px;
            line-height: 66px;
            background-color: $color-primary;
            color: #fff;
            box-shadow: inset -1px 0 5px rgba(0, 0, 0, 0.2);
            border-radius: $dimens-border-radius 0 0 $dimens-border-radius;

            &:hover {
                background-color: darken($color-primary, 5);
            }

            .mdi {
                &.mdi-bookmark-plus { display: block; }
                &.mdi-bookmark-check { display: none; }
            }
        }
        .infos {
            width: 100%;
            margin-left: auto;
            margin-right: 0;

            h4 {
                margin-top: 0;
            }
            p {
                font-size: 13px;
                color: #888;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-bottom: 0;
            }
        }
        .bookmark, .bookmark .i, .infos {
            @include transition-duration(200ms);
            @include transition-timing-function($transition-timing-function);
        }

        &:hover, &.bookmarked {
            .bookmark {
                width: $bookmark-expanded-width;
            }

            .infos {
                width: calc(100% - #{$bookmark-expanded-width});
            }
        }

        &.bookmarked {
            .bookmark {
                background: $color-green;

                .mdi-bookmark-plus { display: none; }
                .mdi-bookmark-check { display: block; }

                &:hover {
                    background-color: $color-red;

                    .mdi-bookmark-check {
                        @include material-icon($mdi-close-circle);
                    }
                }
            }
        }
    }

    &.repositories-slim li {
        .bookmark {
            font-size: 26px;
            line-height: 43px;
        }

        .infos h4 {
            margin-bottom: 0;
        }
    }
}
